<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itshow.messenger.qna_backend.mapper.UserMapper">
    <select id="selectEmail" resultType="org.itshow.messenger.qna_backend.dto.UserDto">
        select * from user where email = #{email}
    </select>
    <insert id="insertUser" parameterType="org.itshow.messenger.qna_backend.dto.UserDto">
        insert into user (userid, email, name, imgurl, usertype)
        values( #{userid}, #{email}, #{name}, #{imgurl}, #{usertype} )
    </insert>
    <insert id="insertTeacher" parameterType="String">
        insert into teacher (teacherid) values( #{teacherid} )
    </insert>
    <update id="updateTeacher" parameterType="org.itshow.messenger.qna_backend.dto.TeacherDto">
        update teacher set subject = #{subject}, office = #{office} where teacherid = #{teacherid}
    </update>
    <insert id="insertFaq" parameterType="org.itshow.messenger.qna_backend.dto.FaqDto">
        insert into faq (faqid, teacherid, question, answer)
        values( #{faqid}, #{teacherid}, #{question}, #{answer} )
    </insert>
    <select id="selectId" resultType="org.itshow.messenger.qna_backend.dto.UserDto">
        select * from user where userid = #{userid}
    </select>
    <select id="selectTeacher" resultType="org.itshow.messenger.qna_backend.dto.TeacherDto">
        select * from teacher where teacherid = #{teacherid}
    </select>
    <select id="selectFaqs" resultType="org.itshow.messenger.qna_backend.dto.FaqDto">
        select * from faq where teacherid = #{teacherid}
    </select>
    <select id="selectSearchTeacher" resultType="org.itshow.messenger.qna_backend.dto.UserDto">
        select u.userid, u.email, u.name, u.imgurl, u.usertype
        from user u join teacher t on u.userid = t.teacherid
        where concat(u.email, '/', u.name, '/', ifnull(t.subject, ''), '/', ifnull(t.office, ''))
        like concat('%', #{search}, '%')
    </select>
    <select id="selectSearchStudent" resultType="org.itshow.messenger.qna_backend.dto.UserDto">
        select * from user
        where usertype = 'STUDENT' and concat(email, '/', name) like concat('%', #{search}, '%')
    </select>
</mapper>